extends base  

block content
  main.main
    .backdrop 
    .main__error 
      h2.main__error-title Sorry, There was an error. Please return to the home page or try again later.
      a.main__error-btn(href='/' title='Home') Home