extends base  

block content
  main.main
    .backdrop 
    .main__error 
      h2.main__error-title Sorry there was an error loading this page, maybe you are offline. Please check your connection or try again later.
      a.main__error-btn(href='/' title='Home') Home